# Rider
.idea/
*.sln.DotSettings.user

# Build results
[Bb]in/
[Oo]bj/
publish/
Installer/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# VS Code
.vscode/

# OS X
.DS_Store